<h1>Savedplaces#edit</h1>
<p>Find me in app/views/savedplaces/edit.html.erb</p>

  <%= form_for @savedplace, html: {multipart: true, class: "formflat"} do |f| %>

      <div class="col-md-12 select">
        <div class="form-group">
          <label>Add tags</label>
           <%= f.text_field :tag, placeholder: "Escribe algo atractivo", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12 select">
        <div class="form-group">
          <label>Descripción</label>
           <%= f.text_area :tip, rows:5, placeholder: "Cuéntanos lo mejor de tu casa, algo sobre la zona, etc... ", class: "form-control" %>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12 select">
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>



