
<%= form_for [@user, @savedplace], html: {multipart: true} do |f| %>

      <div class="col-md-12 select">
        <div class="form-group">
          <label>Add tags</label>
           <%= f.text_field :tag, placeholder: "E.g: #brunch, #kids, #cool", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12 select">
        <div class="form-group">
          <label>Add notes and tips</label>
           <%= f.text_area :tip, rows:3, placeholder: "E.g: Fun atmosphere and great dishes", class: "form-control" %>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12 select">
          <div class="form-group text-right">
            <%= f.submit "Save", class: "btn btn-primary btn-xs" %>
          </div>
        </div>
      </div>
      <% end %>
