<% if object.errors.any? -%>
  <div class="container">
    <%= pluralize(object.errors.count, 'error') -%>
    <ul>
      <% object.errors.full_messages.each do |msg| -%>
        <li><%= msg -%></li>
    </ul>
    <% end %>
  </div>
<% end %>
