/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3em;
  padding-bottom: 3em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.form-control, .form-group .form-control {
  width: 100%;
}


// Buttons

#btn-toggle-map {
  color: white;
}

.btn {
  border-radius: 0px;
  // padding: 7px 15px;
}

.btn-xl {
  padding: 14px 17px;
  margin-top: 1px;
  background: #4C9689;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #4C9689;

  &:hover {
    background-color: #4D394B;
    box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.2);
  }
}

.btn-facebook:not(.btn-link):not(.btn-flat) {
    background-color: #3b5998;
    width: 100%;
    color: #F5F5F5;
    text-align: left;
    &:hover {
      background-color: #3b5998;
    }
  }

// login

.login {
    width: 325px;
    margin:0 auto;
}


// Fonts

body {
  font-family: 'Open Sans';
  font-size: 15px;
}

h1 {
  font-size: 30px;
  color: #D0CFD2;
}

.strong {
     font-weight: 400;
  }


// .headline-home {
//   h1 {
//     font-size: 70px;
//     padding: 150px 0;
//   }
// }

.icon-md {
  font-size: 25px;
}

.icon-xs {
  font-size: 17px;
  color: #D0CFD2;
}





// .panel-horizontal .panel-heading {
//        float: left;
//        width: 30%;
//        padding: 0;
//        border-bottom: 0;
//        border-right: 1px solid transparent;
//        border-top-right-radius: 0;
//        margin-bottom: 0;
// }

// .panel-horizontal .panel-body {
//        float: right;
//        margin: 0 0 15px 0;
//        padding-bottom: 0;
//        width: 70%;
//        padding: 0;
// }

// .panel-horizontal {
//     display:table;
//     width:100%;
// }
// .panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
//     display:table-cell;
// }
// .panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
//     width: 25%;
//     border:0;
//     vertical-align: middle;
// }
// .panel-horizontal > .panel-heading {
//     border-right: 1px solid #ddd;
//     border-top-right-radius: 0;
//     border-bottom-left-radius: 4px;
// }
// .panel-horizontal > .panel-footer {
//     border-left: 1px solid #ddd;
//     border-top-left-radius: 0;
//     border-bottom-right-radius: 4px;
// }



