/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.form-control, .form-group .form-control {
  width: 100%;
}

// Fonts




.panel-horizontal {
  margin-top: 20px;
}

// .panel-horizontal .panel-heading {
//        float: left;
//        width: 30%;
//        padding: 0;
//        border-bottom: 0;
//        border-right: 1px solid transparent;
//        border-top-right-radius: 0;
//        margin-bottom: 0;
// }

// .panel-horizontal .panel-body {
//        float: right;
//        margin: 0 0 15px 0;
//        padding-bottom: 0;
//        width: 70%;
//        padding: 0;
// }

// .panel-horizontal {
//     display:table;
//     width:100%;
// }
// .panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
//     display:table-cell;
// }
// .panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
//     width: 25%;
//     border:0;
//     vertical-align: middle;
// }
// .panel-horizontal > .panel-heading {
//     border-right: 1px solid #ddd;
//     border-top-right-radius: 0;
//     border-bottom-left-radius: 4px;
// }
// .panel-horizontal > .panel-footer {
//     border-left: 1px solid #ddd;
//     border-top-left-radius: 0;
//     border-bottom-right-radius: 4px;
// }



