/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 0px;
  text-align: center;
  color: white;
  position: absolute;
  top: 11px;
  left: 30%;
  right: 30%;
  padding: 5px;
  z-index: 9999;
}
.alert-info {
  background: rgba(76,150,137,0.5);
}
.alert-warning {
  background: $red;
}


