/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 0px;
  text-align: center;
  color: white;
  position: relative;
  top: -19px;
  left: 0;
}
.alert-info {
  background: rgba(0,0,0,0.07);
}
.alert-warning {
  background: $red;
}


