.banner {
  background-image: image-url("barcelona-bg.jpg");
  position: relative;
  padding: 75px 0; /* use it to define size and be responsive*/
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  // z-index: 0;
  // color: white;
  // text-align: center;
  // h1 {
  //   font-size: 50px; /*mobile first*/
  //   font-weight: 700;
  //   @media (min-width: $screen-sm-min) {
  //     font-size: 70px;
  //   }
  // }
}

.img-gradient {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.5) 0%, rgba(60, 80, 80, 0.5) 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
