.add-collection {
  .form-control {
    height: 100%;
    width: 100%;
    // border: 4px solid;
    border-color: white;
    // background:rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans';
    font-size: 14px;
    -webkit-appearance: none;
  }
}

select[multiple].form-control {
  height: 100%;
}

 select[multiple].form-control:focus {
  height: 100%;
 }
