.panel {

  .pull-left {
    padding: 10px;
  }

  .pull-right {
    padding-left: 25px;
  }

  .thumb {
  width: 100px;
  border-radius: 50%;
  }
}

  .panel-body.horizontal {
    padding: 0px;
  }

.img-highlight {
    height: 300px;
    background-size: cover;
  }

.img-thumb {
    // width: 100px;
    padding: 50px;
    // height: 100px;
    background-size: cover;
    background-position: center center;
  }

