.panel {

  .pull-left {
    padding: 10px;
  }

  .pull-right {
    padding-left: 25px;
  }

  .thumb {
  width: 100px;
  border-radius: 50%;
  }
}

  .panel-body.horizontal {
    padding: 0px;
  }

.img-highlight {
    height: 300px;
    background-size: cover;
  }

.img-thumb {
    // width: 100px;
    padding: 30px;
    // height: 100px;
    background-size: cover;
    background-position: center center;
  }


// for the horizontal panel

.left-picture {
  width: 30px;
  padding: 10px;
  float: left;
}
.right-text{
  width: calc(100% - 30px);
  float: left;
  padding-left: 45px;
}
